[target.aarch64-unknown-linux-gnu]
pre-build = [
    "dpkg --add-architecture $CROSS_DEB_ARCH",
    "apt-get update && apt-get --assume-yes install build-essential:$CROSS_DEB_ARCH cmake:$CROSS_DEB_ARCH",
]
image = "ghcr.io/cross-rs/aarch64-unknown-linux-gnu:main"

[target.x86_64-unknown-linux-gnu]
image = "ghcr.io/cross-rs/x86_64-unknown-linux-gnu:main"

[target.x86_64-pc-windows-gnu]
image = "ghcr.io/cross-rs/x86_64-pc-windows-gnu:main"


# Musl is though 
# https://github.com/fede1024/kafka-view/blob/master/Dockerfile
# https://github.com/fede1024/rust-rdkafka/issues/88
# https://github.com/Licenser/rust-rdkafka-musl/commit/bbaa8a391f2a32f36eb06e36f840c7989d0bf592
[target.x86_64-unknown-linux-musl]
image = "ghcr.io/cross-rs/x86_64-unknown-linux-musl:main"
pre-build = [
    "apk add musl-gcc musl-tools curl musl-dev make python g++",
    "ln -s '/usr/bin/g++' '/usr/bin/musl-g++'"
]

[target.x86_64-unknown-linux-musl.env]
passthrough = [
    "CC='musl-gcc -static -Os'",
    "CXX='/usr/bin/g++'",
    "CFLAGS=-I/usr/local/musl/include"
]

[target.x86_64-pc-windows-musl]
image = "ghcr.io/cross-rs/x86_64-pc-windows-musl:main"


[target.x86_64-pc-windows-msvc]
image = "ghcr.io/cross-rs/x86_64-pc-windows-msvc:main"


[target.'cfg(target_os = "windows")']
pre-build = [
    "echo \"VCPKG_ROOT=$env:VCPKG_INSTALLATION_ROOT\" | Out-File -FilePath $env:GITHUB_ENV -Append",
    "vcpkg install openssl:x64-windows-static-md",
    "vcpkg install openssl:x64-windows-static",
]