[package]
name = "yozefu"
description.workspace = true
keywords = ["kafka", "consumer", "avro", "tui", "ratatui"]
categories = ["command-line-utilities", "gui", "development-tools"]
documentation.workspace = true
version.workspace = true
authors.workspace = true
edition.workspace = true
homepage.workspace = true
license.workspace = true
repository.workspace = true
readme.workspace = true
rust-version.workspace = true

[[bin]]
name = "yozf"
path = "src/main.rs"

[dependencies]
tokio = { version = "1", features = ["full", "tracing"] }
command = { workspace = true }
console-subscriber = "0.5.0"

[features]
default = ["ssl-vendored", "gssapi-vendored", "libz-static", "cmake-build"]
ssl-vendored = ["command/ssl-vendored"]
gssapi-vendored = ["command/gssapi-vendored"]
libz-static = ["command/libz-static"]
cmake-build = ["command/cmake-build"]


[package.metadata.cargo-machete]
ignored = ["console-subscriber"]
