name: Publish

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1
  RUSTDOCFLAGS: '--deny warnings'
  MINIMUM_SUPPORTED_RUST_VERSION: 1.85.0
  DOCKER_REGISTRY: ghcr.io

permissions:
  id-token: write
  packages: write
  contents: write
  attestations: write
  pull-requests: write

on:
  workflow_dispatch:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'
  workflow_call:
#  workflow_run:
#    workflows: ['Tag']
#    types:
#      - completed

jobs:
  version:
    name: Determine version to publish
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.release.outputs.version }}
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - id: release
        run: echo "version=$(cargo pkgid --manifest-path crates/bin/Cargo.toml | cut -d '@' -f2)" >> "$GITHUB_OUTPUT"

  create-release:
    runs-on: ubuntu-latest
    name: Create release
    needs: version
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Create github release
        run: gh release create "v${VERSION}" --generate-notes
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VERSION: ${{ needs.version.outputs.version }}

  changelog:
    needs: [version, create-release]
    uses: ./.github/workflows/changelog.yml
    name: Create changelog
    secrets: inherit

  build-and-publish:
    needs: [version, create-release]
    name: Build and publish
    runs-on: ${{ matrix.platforms.os }}
    strategy:
      matrix:
        platforms:
          - os: macos-15
            target: aarch64-apple-darwin
            features: "--features gssapi-vendored,libz-static,ssl-vendored"
          - os: macos-15-intel
            target: x86_64-apple-darwin
            features: "--features gssapi-vendored,libz-static,ssl-vendored"
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            features: "--features gssapi-vendored,libz-static,ssl-vendored"
          - os: ubuntu-24.04-arm
            target: aarch64-unknown-linux-gnu
            features: "--features gssapi-vendored,libz-static,ssl-vendored"
          - os: windows-latest
            target: x86_64-pc-windows-gnu
            features: "--no-default-features"
          - os: windows-latest
            target: x86_64-pc-windows-msvc
            features: "--no-default-features --features ssl-vendored"
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - run: sudo apt-get update && sudo apt-get install -y libcurl4-openssl-dev
        if: matrix.platforms.os == 'ubuntu-latest' || matrix.platforms.os == 'ubuntu-24.04-arm'
      - uses: houseabsolute/actions-rust-cross@v1
        with:
          target: ${{ matrix.platforms.target }}
          args: "--verbose --locked --release ${{ matrix.platforms.features }}"
          strip: true
      
      - name: Setup variables
        id: variables
        shell: bash
        run: |
          name="$(cargo metadata --manifest-path crates/bin/Cargo.toml --no-deps --format-version=1 | jq -r '.packages[] | select(.name=="yozefu").targets[0].name')"
          source=target/${{ matrix.platforms.target }}/release/${name}
          archive="yozefu-${{matrix.platforms.target }}"
          subjectName="${name}-${{matrix.platforms.target }}-${VERSION}"
          binaryName="${subjectName}"
          destination="dist/${binaryName}"
          if [ "${{ matrix.platforms.os }}" = "windows-latest" ]; then
             source=${source}.exe
             binaryName=${binaryName}.exe
             destination="dist/${binaryName}"
          fi
          {
            echo "name=${name}"
            echo "source=${source}"
            echo "archive=${archive}"
            echo "subjectName=${subjectName}"
            echo "destination=${destination}"
            echo "binaryName=${binaryName}"
          } >> "$GITHUB_OUTPUT"
        env:
          VERSION: ${{ needs.version.outputs.version }}

      - name: Attest
        uses: actions/attest-build-provenance@v3
        with:
          subject-path: "${{ steps.variables.outputs.source }}"
          subject-name: "${{ steps.variables.outputs.archive }}-${{ needs.version.outputs.version }}"

      - name: Create temp dir
        run: mkdir -p dist

      - name: Rename binary
        shell: bash
        run: mv "${SOURCE}" "${DEST}"
        env:
          SOURCE: ${{ steps.variables.outputs.source }}
          DEST: ${{ steps.variables.outputs.destination }}

      - name: Build archive for Windows
        shell: bash
        working-directory: ./dist
        if: matrix.platforms.os == 'windows-latest'
        run: 7z a "${ARCHIVE}.zip" "${BINARY}"
        env:
          ARCHIVE: ${{ steps.variables.outputs.archive }}
          BINARY: ${{ steps.variables.outputs.binaryName }}

      - name: Build archive for unix systems
        if: matrix.platforms.os != 'windows-latest'
        shell: bash
        working-directory: ./dist
        run: |
          tar cvzf "${{ steps.variables.outputs.archive }}.tar.gz" "${{ steps.variables.outputs.binaryName }}" 
      - name: Clean release directory
        shell: bash
        run: rm -f "dist/${{ steps.variables.outputs.binaryName }}"

      - name: cargo install cargo-cyclonedx
        run: cargo install --locked cargo-cyclonedx

      - name: Generate SBOM
        run: cargo cyclonedx --describe binaries --format json ${{ matrix.platforms.features }} --target ${{ matrix.platforms.target }}

      - name: Rename SBOM
        shell: bash
        run: mv crates/bin/${{ steps.variables.outputs.name }}_bin.cdx.json "dist/${{ steps.variables.outputs.archive }}.cdx.json"

      - name: Upload binary
        shell: bash
        run: gh release upload "v${{ needs.version.outputs.version }}" dist/* --clobber
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}


# https://docs.github.com/en/actions/use-cases-and-examples/publishing-packages/publishing-docker-images
  publish-docker-image:
    name: Docker image
    runs-on: ubuntu-latest
    needs: [version, create-release]
    permissions:
        contents: read
        packages: write
        attestations: write
        id-token: write
    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        persist-credentials: false
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Extract metadata
      id: meta
      uses: docker/metadata-action@v5
      with:
        tags: |
          type=raw,value=latest,enable={{is_default_branch}}
          type=raw,value=${{ needs.version.outputs.version }}
        images: ${{ env.DOCKER_REGISTRY }}/${{ github.repository }}
        labels: |
          org.opencontainers.image.description=Yozefu is a CLI tool for Apache kafka. It allows you to navigate topics and search Kafka records.
          org.opencontainers.image.vendor=Yann Prono
          org.opencontainers.image.licenses=Apache-2.0
      env:
        DOCKER_METADATA_ANNOTATIONS_LEVELS: manifest,index
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Build and push
      uses: docker/build-push-action@v6
      id: push
      with:
        context: .
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        cache-from: type=gha
        cache-to: type=gha,mode=max
        labels: ${{ steps.meta.outputs.labels }}
        sbom: true
        annotations: ${{ steps.meta.outputs.annotations }}
    # https://github.com/actions/attest-build-provenance
    - name: Generate artifact attestation
      uses: actions/attest-build-provenance@v3
      with:
        subject-name: ${{ env.DOCKER_REGISTRY }}/${{ github.repository }}
        subject-digest: ${{ steps.push.outputs.digest }}
        push-to-registry: true

  publish-to-registry:
    runs-on: ubuntu-latest
    name: Publish to registry
    needs: [version, build-and-publish]
    if: github.ref == 'refs/heads/main'
    environment: production
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      # https://crates.io/docs/trusted-publishing
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - uses: rust-lang/crates-io-auth-action@v1
        id: auth
      - run: sudo apt-get update && sudo apt-get install -y libcurl4-openssl-dev
      - run: cargo publish --workspace
        env:
          CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}